
h1{
    text-align: center;
    color: gray;
    margin-top: 60px;
    padding-left: 30px;
}
div{
    text-align: center;
    margin: 40px auto;
}
button{
    padding: 5px 8px;
    background-color: blueviolet;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
}
img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}